@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 96%;
    --foreground: 24 10% 10%;
    --card: 40 20% 94%;
    --card-foreground: 24 10% 10%;
    --popover: 40 20% 96%;
    --popover-foreground: 24 10% 10%;
    --primary: 24 45% 30%;
    --primary-foreground: 60 9% 98%;
    --secondary: 200 50% 40%;
    --secondary-foreground: 60 9% 98%;
    --muted: 30 10% 90%;
    --muted-foreground: 24 5% 40%;
    --accent: 40 20% 90%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 30 10% 80%;
    --input: 30 10% 80%;
    --ring: 24 45% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 10% 10%;
    --foreground: 40 20% 94%;
    --card: 24 10% 12%;
    --card-foreground: 40 20% 94%;
    --popover: 24 10% 12%;
    --popover-foreground: 40 20% 94%;
    --primary: 40 20% 94%;
    --primary-foreground: 24 45% 30%;
    --secondary: 200 40% 30%;
    --secondary-foreground: 40 20% 94%;
    --muted: 24 10% 15%;
    --muted-foreground: 30 10% 65%;
    --accent: 24 10% 15%;
    --accent-foreground: 40 20% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 20% 94%;
    --border: 24 10% 20%;
    --input: 24 10% 20%;
    --ring: 30 10% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}