@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 4%;

    --border: 20 5% 90%;
    --input: 20 5% 90%;
    --ring: 20 14% 4%;

    --primary: 20 35% 25%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 30% 45%;
    --secondary-foreground: 0 0% 98%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
